$background: #111117;
$card-background: #212129;
$card-background-darker: #18181F;

// Text
$text-light: #dad3fd;
$text-header: #EEEBFD;
$text: #9E9BAF;
$text-link: #9681FC;
$text-link-muted: hsla(250, 91%, 91%, 0.7);

// misc
$sl-blue: #75A1E3;
$wl-green: #4BB8A7;
